* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------AWAL Header-------------------- */
header {
    background-color: #F1F3FF;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    
}
.logo-nav {
    width: 100px;
    height: 34px;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    background: #0D28A6;
}
.navigation-nav {
    display: none;
}
.humberger-nav {
    margin-right: 16px;
    margin-top: 29px;
}


.hero-header {
    display: flex;
    flex-direction: column;
   
}

.konten-hero {
    width: 100%;
    padding: 16px;
}
.konten-hero h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 16px;
}
.konten-hero p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.konten-hero button {
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: #FFFFFF;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.image-hero img {
    width: 100%;
}
/* --------------------AKHIR Header-------------------- */



/* --------------------AWAL Our Sevices-------------------- */
.ourServices {

}

.image-ourServices {
    width: 100%;
    padding: 60px 16px;
}

.image-os {
    width: 100%;
}

.desc-ourServices {
    padding: 16px;
}

.desc-ourServices h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.desc-ourServices p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
/* --------------------AWAL Our Sevices-------------------- */



/* --------------------AWAL Why Us-------------------- */
.whyUs {
    padding: 16px;

}

.konten1-whyUs {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.konten2-whyUs {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 24px;
}

.konten3-whyUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------------AWAL Why Us-------------------- */



/* --------------------AWAL Testimoni-------------------- */
.testimoni {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 30px;
}

.kalimat1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.kalimat2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.testimobile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testidekstop {
    display: none;
}

.testimoni-buttonCarousel {
    display: flex;
    justify-content: space-between;
}

.buttonCarousel-kiri {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 12px;
}

.buttonCarousel-kanan {
    display: flex;
    width: 50%;
    padding-left: 12px;
}
/* --------------------AKHIR Testimoni-------------------- */


/* --------------------AWAL Banner-------------------- */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 58px;
    gap: 32px;
    background: #0D28A6;
    border-radius: 13px;

    margin: 60px 16px;
}

.banner h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.banner p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #FFFFFF;
}

.banner button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
/* --------------------AKHIR Banner-------------------- */

/* --------------------AWAL FAQ-------------------- */

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 13px;
    margin: 0px 16px;
}

.faq-kiri h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.faq-kiri p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%px;
    text-align: center;
}

.kanan-dekstop {
    display: none;
}

.kanan-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* --------------------AKHIR FAQ-------------------- */


/* --------------------AWAL Footer-------------------- */
footer {
    display: flex;
    flex-direction: column;
    margin: 60px 16px;
}

.addres p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
    margin-bottom: 16px;
}

.sosmed {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    margin-bottom: 16px;
}

.sosmed p {
    margin-bottom: 16px;
}

.sosmed img {
    margin-bottom: 16px;
}


/* --------------------AKHIR Footer-------------------- */



/* -------------------------------------------------- */

@media only screen and (min-width: 992px) {

/* --------------------AWAL Header-------------------- */
    .humberger-nav {
        display: none;
    }

    .logo-nav {
        margin-left: 136px;
    }

    .navigation-nav {
        display: inline;
        width: 50%;
    }
    .list-navigation li {
        display: inline;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .list-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        margin-right: 136px;
    }
    .list-navigation button {
        width: 81px;
        height: 36px;
        background: #5CB85F;
        border-radius: 2px;
        border: #FFFFFF;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }


    .hero-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .konten-hero {
        width: 50%;
        padding-left: 136px;
        padding-top: 65px;
    }
    .image-hero {
        width: 50%;
        margin-top: 15px;
    }
/* --------------------AKHIR Header-------------------- */


/* --------------------AWAL Our Sevices-------------------- */
    .ourServices {
        display: flex;
    }

    .image-ourServices {
        width: 50%;
        padding-top: 100px;
        padding-left: 200px;
        padding-right: 60px;
    }

    .desc-ourServices {
        width: 50%;
        padding-top: 130px;
        padding-right: 150px;
        padding-left: 50px;
    }

    .desc-ourServices h3 {
        margin-bottom: 24px;
    }

    .desc-ourServices p {
        margin-bottom: 24px;
    }
/* --------------------AKHIR Our Sevices-------------------- */


/* --------------------AWAL Why Us-------------------- */
    .kontenwy3all {
        width: 25%;
    }


    .konten3-whyUs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
/* --------------------AKHIR Why Us-------------------- */


/* --------------------AWAL Testimoni-------------------- */

    .testimobile {
        display: none;
    }

    .testidekstop {
        display: block;
        overflow: hidden;
    }
/* --------------------AKHIR Testimoni-------------------- */


/* --------------------AWAL Banner-------------------- */
.banner {
    padding: 64px 270px;
    gap: 32px;
    background: #0D28A6;
    margin: 100px 136px;
}

.banner h3 {
    font-size: 36px;
}
/* --------------------AKHIR Banner-------------------- */


/* --------------------AWAL FAQ-------------------- */
.faq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 13px;
    margin: 0px 136px;
}

.kanan-mobile {
    display: none;
}

.kanan-dekstop {
    display: block;
    width: 600px;
}

.faq-kiri {
    align-self: flex-start;
}
/* --------------------AKHIR FAQ-------------------- */


/* --------------------AWAL Footer-------------------- */
footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 86px;
    margin: 100px 136px 100px;
}





}

